.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img{
  width:250px;
}
.product-container{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:1rem;

  
}
.card-total{
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
}
.total-container{
  
}

.counter{
  display:flex;
  justify-content:center;
  /* align-items:center; */
  gap:1rem
}
/* .minus,.plus {
  color:red
} */
